body {
    background-image: url("/background.jpg");
}

#main,
input,
select,
select option,
button {
    font-size: 20px;
}

input,
select {
    background-color: rgb(250, 189, 97);
}

button {
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(248, 152, 10);
    cursor: pointer;
}

button:hover {
    background-color: rgb(190, 117, 8);
}

button:active {
    background-color: rgb(118, 73, 6);
}

#main,
#form-for-search,
#form-for-search>div,
#result,
.film-cards,
#details,
.spinner,
.film-card,
.film-details,
.error,
.film-info,
.film-details-info,
.film-details-info>div {
    display: flex;
}

#main,
#form-for-search,
#result,
.film-info,
.film-details-info {
    flex-direction: column;
}

#main {
    font-family: sans-serif;
    align-items: center;
}

#form-for-search,
.film-cards,
.film-details,
.error {
    background-color: rgb(250, 203, 25);
}

.heading {
    margin: 22px;
    text-align: center;
    font-weight: bold;
}

#form-for-search,
#form-for-search input,
#form-for-search select,
.film-card,
.film-details,
.error {
    border: 1px solid black;
    border-radius: 5px;
}

#form-for-search,
.film-card,
.film-details {
    padding: 10px;
}

#form-for-search div {
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
    column-gap: 60px;
}

#form-for-search input {
    padding-left: 15px;
}

#form-for-search select {
    width: 100%;
    padding-left: 10px;
}

#form-for-search button {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

#result {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.film-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#details {
    position: fixed;
    top: 0px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 95, 91, 0.7);
    height: 100vmax;
    width: 100vmax;
}

.film-details {
    position: fixed;
    top: 100px;
    height: 70vh;
    width: 90vw;
}

.error {
    position: fixed;
    top: 20%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 50vw;
}

.spinner {
    margin-top: 30px;
    justify-content: center;
    height: 200px;
}

.on-center {
    position: absolute;
    top: 30vh;
}

.film-card,
.film-details {
    gap: 20px;
}

.film-card {
    width: 330px;
}

.poster {
    width: 200px;
    height: 250px;
}

.film-info,
.film-details-info {
    justify-content: space-evenly;
    gap: 30px;
}

.film-info .title {
    font-weight: bold;
}

.film-info .year {
    font-size: 22px;
}

.film-details-info>div:first-child {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.notification {
    font-style: italic;
    color: gray;
    font-size: 14px;
}

.details-poster {
    width: 300px;
    height: 350px;
}

.film-details-info>div>div:first-child {
    width: 100px;
    font-weight: bold;
}

.hide {
    display: none;
}

.button-up {
    position: fixed;
    right: 1%;
    bottom: 10%;
    background-color: rgb(248, 152, 10);
}

.button-up:hover {
    background-color: rgb(190, 117, 8);
}

.button-up:active {
    background-color: rgb(118, 73, 6);
}

@media (max-width: 600px) {

    #main,
    input,
    select,
    select option,
    button,
    .film-info .year {
        font-size: 16px;
    }

    #form-for-search,
    .film-card,
    .film-details {
        padding: 5px;
    }

    #form-for-search div {
        margin: 5px;
        column-gap: 5px;
    }

    .details-poster {
        width: 200px;
        height: 300px;
    }
}